<%- include('../partials/_header', { title: 'Sign In' }) %>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <h1>Sign In</h1>
        <% if(message) { %>
            <p class="error-message"><%= message %></p>
        <% } %>
        <form action="/auth/sign-in" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required />
        
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
        
            <button type="submit">Sign In</button>
            <p>Don't have an account? <a href="/auth/sign-up">Sign Up</a></p>
        </form>
    </main>
</body>
</html>