<%- include('../partials/_header', { title: 'My Skills' }) %>
<body>
    <%- include('../partials/_navbar') %>
    <main>
        <h1>My Skills</h1>
        <a href="/skills/new" class="btn">Add a New Skill</a>
        <% if (skills.length===0) { %>
            <p>You don't have any skills yet. Add one to get started.</p>
        <% } else { %>
            <ul>
                <% skills.forEach(skill=> { %>
                    <li><a href="/skills/<%= skill._id %>"><%= skill.name %></a></li>
                <% }) %>
            </ul>
        <% } %>
    </main>
</body>
</html>