<%- include('./partials/_header', { title: 'Error' }) %>
<body>
    <%- include('./partials/_navbar') %>
    <main>
        <h1>Something went wrong</h1>
        <p><%= error %></p>
    </main>
</body>

</html>