<%- include('./partials/_header', { title: 'Agent Builder & Preview' }) %>
<body>
    <%- include('./partials/_navbar') %>
    <main class ="homepage">
        <h1>Agent Builder & Preview</h1>
        <p>Build, configure, and test your AI agents.</p>
        <% if(user) { %>
            <p class="welcome-text">Welcome back, <%= user.username %></p>
        <% } else { %>
            <div class="homepage-actions">
                <a href="/auth/sign-up" class="btn">Sign Up</a>
                <a href="/auth/sign-in" class="btn btn-outline">Sign In</a>
            </div>
        <% } %>
    </main>
</body>
</html>