<%- include('./partials/_header', { title: 'My Profile' }) %>
<body>
    <%- include('./partials/_navbar') %>
    <main>
        <h1>Welcome, <%= user.username %></h1>
        <p>Agent Language: <%= user.agentLanguage %></p>
    </main>
</body>
</html>